/* Desketop First */
@font-face {
    font-family: "Bebas";
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Opens Sans";
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page_grid {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* Header Info */

header {
    width: 100%;
    height: 60px;
    background-color: #F9003D;
    position: fixed;
    top: 0%;
    z-index: 1;
}

.header_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.img_logo {
    width: 215px;
    height: 58px;
}

.nav_cont {
    display: flex;
    width: 600px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    font-family: "Bebas";
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

header #Icon_menu {
    display: none;
}

header nav a:hover {
    background-color:#FFAF00;
    padding: 19px 45px;
    border-radius: 10px;
}    

/* Main Banner/section */

.banner_cont {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: 740px;
    background-image: url(../assets/imagem-fundo-banner.png);
    background-size: cover; 
}

.cont_text_banner {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 226px;
    left: -1.17px;
}

.cont_text_banner h1 {
    font-family: "Bebas";
    color: #FFFFFF;
    font-size: 96px;
    font-weight: 400;
    width: 600px;
    height: 230px;
}

hr {
    border: 2px solid #FFAF00;
    margin: 20px 0;
    width: 545px;
}

.cont_text_banner span {
    font-family: 'Courier New';
    font-size: 53px;
    font-weight: 700;
    color: #F9003D;
    text-transform: uppercase;
}

.mouse_icon {
    width: 37px;
    height: 80px;
    margin-top: 30px;
}

/* Main About/section */

.section_about {
    background-color: #080324;
    height: 800px;
}

.section_about h2 {
    font-family: "Bebas";
    font-size: 64px;
    font-weight: 400;
    color: #F9003D;
    text-transform: uppercase;
}

.cont_about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.box_about {
    display: flex;
    justify-content: space-between;
}

.section_about span {
    font-family: 'Courier New';
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section_about h3 {
    font-family: "Bebas";
    font-size: 64px;
    font-weight: 400;
    color: #FFAF00;
    width: 557px;
    margin: 10px 0;
    text-align: left;
}

.section_about p {
    font-family: "Opens Sans";
    font-size: 18px;
    font-weight: 400;
    width: 592px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: justify;
}

/* Main Info/Section */

.section_info {
    background-image: url(../assets/imagem-fundo-info.png);
    height: 200px;
    display: flex;
    align-items: center;
}

.box_Info {
    display: flex;
    justify-content: space-between;
}

.section_info h2 {
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.box {
    width: 289px;
    height: 100px;
    border: 2px solid #A259F7;
    font-family: 'Courier New';
    font-size: 28px;
    font-weight: bold;
    color: #A259F7;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Adress/Section */

.section_adress {
    background-image: url(../assets/imagem-fundo-endereco.png);
    height: 516px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.section_adress h2 {
    font-family: "Bebas";
    font-size: 64px;
    font-weight: 400;
    color: #FFAF00;
    width: 899px;
    margin: 0 auto;
}

.box_adress {
    display: flex;
    align-items: center;
    width: 899px;
    height: 203.36px;
    background-color: #010010;
    border: 2px solid #A259F7;
    position: relative;
    margin: 0 auto;
}

.box_adress p {
    font-family: 'Courier New';
    font-size: 24px;
    line-height: 27px;
    color: #A259F7;
    width: 500px;
    height: 88.5px;
    padding-left: 66px;
    padding-bottom: 57.43px;
    display: flex;
}

.box_iframe {
    position: absolute;
    top: -80px;
    right: 20px;
  }

/* Footer */

footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9003D;
}

footer span {
    font-family: "Opens Sans";
    text-transform: capitalize;
    font-size: 18px;
    color: #FFFFFF;
}

/* Media-Queries */

@media screen and (max-width: 767px) {

.page_grid {
    max-width: 355px;
    width: 100%;
    margin: auto;
}

.showmenu {
    left: 0;
    opacity: 1;
}

    /* Header Info */

.img_logo {
    margin-left: 13px;
    width: 107.5px;
    height: 29px;
}

header #Icon_menu {
    margin-right: 13px;
    display: block;
}

.nav_cont {
    display: flex;
    width: 350px;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

header nav {
    position: fixed;
    top: 60px;
    left: 80vw;
    width: 80vw;
    height: calc(100vw - 60px);
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F9003D;
    opacity: 0;
    transition: left 0.2s, opacity 0.6s;
}

header nav a {
    width: 100px;
    border-left: 2px dashed #ffffff;
    border-radius: 8;
    text-align: center;
} 

header nav a:hover {
    display: none;
}  

/* Main Banner/section */

.banner_cont {
    height: 528px;
    background-position: center center;
}

.cont_text_banner {
    position: relative;
    top: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont_text_banner h1 {
    text-align: center;
    font-size: 40px;
    width: 300px;
    height: 96px;
}

hr {
    width: 300px;
}

.cont_text_banner span {
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Main About/section */

.section_about {
    background-color: #080324;
    height: 1134px;
    display: flex;
    justify-content: center;
}

.section_about h2 {
    font-size: 35px;
    font-weight: 400;
    display: flex;
    padding: 50px; 
}

.img_about {
    height: 357px;
    width: 365px;
}

.cont_about {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.box_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_about span {
    position: relative;
    bottom: 385px;
}

.section_about h3 {
    font-size: 30px;
    width: 365px;
    display: flex;
    align-items: center;
    text-align: center;
}

.section_about p {
    width: 365px;
    padding: 5px;
}

/* Main Info/Section */

.section_info {
    height: 545px;
}

.box_Info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    margin-bottom: 20px;
}

/* Main Adress/Section */

.section_adress {
    height: 598px;
    position: relative;
}

.section_adress h2 {
    font-size: 40px;
    width: 117px;
}

.box_adress {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 428px;
    width: 95%;
    position: relative;
}

.box_adress p {
    height: 200px;
    width: 90%;
    display: flex;
    padding-top: 0;
    align-items: center;
    padding-left: 0;
    padding-bottom: 0;
}

.box_iframe {
    position: absolute;
    height: 60%;
    width: 90%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Footer */

footer span {
    text-align: center;
}

}

   
    
    
